.container {
    min-height: 80vh;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.component {
    display: inline;
    border: 1px solid #ffb74d;
    border-left: 4px solid #ffb74d;
    border-radius: 2px;
    background-color: ivory;
    padding: 5px;
    margin-right: 1em;
    color: #263238;
}

.root {
    display: inline;
    font-size: 1em;
    font-family: 'Manjari', 'Meera', sans-serif;
}

.tags {
    display: inline;
}

.tag {
    display: inline;
    background-color: #aed581;
    border-radius: 2px;
    padding: 5px;
    margin-left: 5px;
    font-family: monospace;
}

.result {
    line-height: 2.5em;
}

.morphemes .chip {
    background-color: #aed581;
    font-family: monospace;
}

.morphemes .autocomplete-content img {
    display: none;
}

progress {
    width: 100%;
    height: 5px;
}
