{% extends 'layout.html' %} {% block body %} {% if error %}
<p class=error><strong>Error:</strong> {{ error }}{% endif %}
	<section class='section analyse row'>
		<h5>Analysis</h5>
		<div class="input-field col s12">
			<textarea id="text_to_analyse" placeholder='Text to analyse' class="materialize-textarea" name="text">{% if text %}{{text}}{% endif %}</textarea>
			<label for="text_to_analyse">Text to analyse</label>
			<a id='analyse' class="waves-effect waves-light btn">Analyse</a>
		</div>
		<progress id="analresult-progress"></progress>
		<table class='analresult highlight col s10'>
			<thead>
				<tr>
					<th>Word</th>
					<th>Analysis</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</section>
	<div class="divider"></div>
	<section class='section generate row'>
		<h5>Generation</h5>
		<!--
		<div class="input-field col s4">
			<input type=text id="rootword" name=word placeholder='Root word' value='{% if word %}{{word}}{% endif %}' />
			<label for="rootword">Root word</label>
		</div>
	-->
		<div class="chips chips-autocomplete  morphemes"></div>

		<a id='generate' class="waves-effect waves-light btn">Generate</a>
		<progress id="genresult-progress"></progress>
		<div class="genresult col s12"></div>
	</section>
	{% endblock %}
